@import 'nprogress/nprogress.css';
@import '@unocss/reset/tailwind-compat.css';
@import 'cropperjs/dist/cropper.css';

#nprogress .bar {
  background: #e74694;
}

.cropper-modal,
.cropper-drag-box,
.cropper-point,
.cropper-line {
  background-color: unset;
}

.cropper-view-box {
  outline: 2px dashed;
  outline-color: #e74694;
}

.ant-form-item-extra {
  margin-top: 4px;
  font-size: 14px !important;
}

.ant-spin-nested-loading .ant-spin-blur::after {
  opacity: 0;
}

.ant-form-item .ant-form-item-extra {
  color: #6b7280;
}

.ant-form-vertical .ant-form-item-label > label {
  font-weight: 500;
}

.ant-form-vertical .ant-form-item-label > label::before {
  content: none !important;
}

.ant-form-vertical .ant-form-item-label .ant-form-item-required::after {
  visibility: unset;
  display: inline-block;
  margin-inline-start: 4px;
  color: #e74694;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
  overflow: auto;
  overscroll-behavior: contain;
}

.no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar {
  background-color: transparent;
  scrollbar-width: thin;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
}
